.header{
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;

}
.headerContent{
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
}
.headerContent__logo{

}
.headerContent__loginBlock{

}
.headerContent__loginBlock p{
    cursor: pointer;
    text-decoration: underline;
}

.headerContent__loginBlock a{
    color: #333333;
    transition: color linear 150ms;
    text-decoration: underline;
}
.headerContent__loginBlock p:hover,
.headerContent__loginBlock a:hover{
    color: #ffa405;
    text-decoration: none;
}
