.newMessageBlock{
    border: 1px solid #eaeaea;
    width: 100%;
    margin-bottom: 15px;
}
.newMessageBlock form{
    width: 100%;
    padding: 10px;
}
.newMessageBlock textarea{
    resize: none;
    background: transparent;
    height: 60px;
    width: 100%;
    box-shadow: none;
    outline: none;
    color: #333333;
    font-size: 14px;
    border: 1px solid transparent;
    transition: all linear 200ms;
    margin-bottom: 10px;
}
.newMessageBlock textarea::placeholder{
    color: #333333;
}
.newMessageBlock textarea:hover,
.newMessageBlock textarea:focus{
    border: 1px solid #ffa405;
}
.newMessageBlock button{
    border: 1px solid #ffa405;
    background-color: transparent;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: center;
    color: #444444;
    padding: 0 30px;
    cursor: pointer;
    transition: all linear 200ms;
    text-transform: uppercase;
    outline: none;
}
.newMessageBlock button:hover{
    color: #eaeaea;
    background-color: #ffa405;
}
.newMessageBlock button:focus{
    outline: none;
}
.newMessageBlock form.err textarea::placeholder{
    color: tomato;
}