
.wrapper{

}
.mainContent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    min-height: calc(100vh - 84px);
}
.contentInner{
    width: 80%;
    padding-left: 10px;
}

